<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <div>
        <h1 class="mb-4">blog post</h1>
        <a href="/posts/new">New post</a>

        <% posts.forEach(post => { %>
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title"><%= post.title %></h4>
                    <div class="card-subtitle text-muted mb-2">
                        <%= post.createdAt.toLocaleDateString() %>
                    </div>
                    <div class="card-text mb-2"><%= post.writer %></div>
                </div>
            </div>
        <% }) %>
    </div>
</body>
</html>